body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 33%;
    margin-right: 33%;
    margin-top: 10%;
    background-image: url("/images/textured\ background.jp2");
}
h1 {
    font-family: 'Oswald', sans-serif;
    color: rgb(95, 26, 55);
    font-size: 50px;
}
h2 {
    font-size: 20px;
}
.title {
    margin-bottom: 25px;
    text-decoration: underline;
}

.description {
    margin-bottom: 25px;
    transition: all 2s;
    font-family: 'Raleway', sans-serif;
    color: #5f201a;
}
.description .pre-animation {
    opacity: 0;
    max-height: 0;
}

.button {
}
#random_button {
    top:50%;
    left:45%;
    position: fixed;
    border: #a5a5a5 solid 1px;
    background-color: rgb(236, 234, 233);
    box-shadow: 1px 1px 1px rgb(189, 189, 189);
    padding: 0.5em 3em;
    font-family: 'Raleway', sans-serif;
    color: #5f201a;
    font-weight: 600;
}
#random_button:hover {
    box-shadow: 1px 1px 1px rgb(110, 110, 110);
}  
#random_button:active {
    transform: translateY(1px);
}

@media only screen and (max-width: 600px) {
    body {
        margin: 0px;
    }
    .title {
        width: 100%;
        margin-left: 17.5%;
    }    
    h1 {
        font-size: 25px;
    }
    .description {
        width: 85%;
        margin-bottom: 50px;
    }
    #description {
        font-size: 17.5px;
    }
    .button {
        width: 100%;
        margin-right: 40%;
    }
    #random_button {
        position: relative;
        margin-top: 35%;
    }
}

